/* GÉNÉRIQUE */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* ÉLÉMENTS */

body{

margin: 0;
padding: 0;

}

a{

text-decoration: none;
color: black;

}

h1{

color: #ffffff;
font-family: "Roboto", sans-serif;
font-size: 6rem;
font-weight: 900;
letter-spacing: 30.6px;
margin-top: 0;
padding: 70px 0;

}

h2{

color: black;
font-family: "Lato", sans-serif;
letter-spacing: 2.6px;
font-weight: 100;
font-size: 3rem;
margin: 0;

}

q{

color: black;
font-family: "Lato", sans-serif;
letter-spacing: 2.6px;
font-weight: 100;
font-size: 3rem;

}

/* COMPONENTS */

.wrapper{

max-width: 1090px;    
margin-right:  auto;
margin-left: auto;

}

header{

background-color: #34495E ;

}


.quote{

display: flex;
flex-direction: column;
align-items: end;
} 

.rond{

border: 2px solid #d35400;

color: #d35400;
background-color: #ffffff;
font-size: 2rem;
height: 200px;
width: 200px;
border-radius: 100%;

display: flex;
justify-content: center;
align-items: center;

}

.lignes .cartes {
    display: flex;
    flex-direction: column;
    gap: 0px ;
    width: 100%;
    margin-top: 40px;
}



.carte {
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    padding: 20px;
    background-color: #fff;
    width: 100%;

}

.carte {
    flex-direction: row;
    text-align: left;
}

.carte:hover {
background-color: #BDC3C7 ;
}



.consignes .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 40px;  
    margin-top: 40px;
}



footer {
    background-color: #2980B9;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p  {

color: black;
font-family: "Roboto", sans-serif;
font-weight: 600;
margin: 0;

}

.bouton {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 100px;
}

